alabaster==0.7.10
appdirs==1.4.3
Babel==2.5.1
blessings==1.6
bpython==0.16
certifi==2017.11.5
chardet==3.0.4
# chrome-gnome-shell==0.0.0 # bestaat niet
coloredlogs==7.3
curtsies==0.2.11
docutils==0.14
greenlet==0.4.12
humanfriendly==4.4.1
idna==2.6
imagesize==0.7.1
Jinja2==2.9.6
# louis==3.2.0 # kan hij niet vinden
MarkupSafe==1.0
numpy==1.13.3
opencv-python==3.3.0.10
packaging==16.8
pockets==0.5.1
powerline-status==2.6
Pygments==2.2.0
pygobject==3.24.1
pyparsing==2.2.0
# python-libtorrent==1.1.4 # kan hij niet vinden
python-vlc==2.2.6100
pytz==2017.3
pyxdg==0.25
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinx-autodoc-napoleon-typehints==2.1.6
sphinx-autodoc-typehints==1.2.3
sphinxcontrib-napoleon==0.6.1
sphinxcontrib-websupport==1.0.1
typing==3.6.2
urllib3==1.22
wcwidth==0.1.7