[Unit]
Description=Fotoroulette GUI

[Service]
Type=simple
ExecStart=/home/thomas/PycharmProjects/raspberry-pi/python_install/bin/python3 /home/thomas/PycharmProjects/raspberry-pi/gui_main.py
WorkingDirectory=/home/thomas/PycharmProjects/raspberry-pi
User=thomas

[Install]
WantedBy=graphical.target