[Unit]
Description=Fotoroulette hardware layer

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/raspberry-pi/start_server.py HARDWARE
WorkingDirectory=/home/pi/raspberry-pi
User=pi

[Install]
WantedBy=multi-user.target