[Unit]
Description=Fotoroulette processing layer

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/thomas/PycharmProjects/raspberry-pi/processing_main.py
WorkingDirectory=/home/thomas/PycharmProjects/raspberry-pi
User=thomas

[Install]
WantedBy=multi-user.target