[Unit]
Description=Fotoroulette processing layer

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/raspberry-pi/processing_main.py
WorkingDirectory=/home/pi/raspberry-pi
User=pi

[Install]
WantedBy=multi-user.target