[Unit]
Description=Fotoroulette GUI

[Service]
Type=simple
ExecStart=/home/thomas/PycharmProjects/raspberry-pi/gui_main.py

[Install]
WantedBy=multi-user.target