#splashscreen {
    background-image: url("../../img/background.png");
    background-size: cover;
    background-color: rgba(0, 0, 255, 0.5);
}

#save-button {
    background-color: #D81A1A;
    border-radius: 5px;
    font-size: 1.5em;
    margin: 10px 10px 10px 10px;
}

#window-stack:disabled {
    background-color: grey;
    opacity: 10;
}

button:disabled {
    background-color: grey;
    opacity: 10;
}


.top-bar {
    background-color: grey;
}

.game-icon {
    background-color: #70C66B;
}

.button {
    background-color: #70C66B;
    font-size: 1.6em;
    font-weight: bold;
    color: white;
    border-radius: 25px;
}

.alt-button {
    background-color: yellow;
    font-size: 1.6em;
    font-weight: bold;
    color: white;
    margin: 5px 5px;
    border-radius: 5px;
}

.box {
    background-color: white;
}
